force-app/main/default/flows/DeletionRequestFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>This is the deletion request flow</description>
    <formulas>
        <description>Calculate The Due date of the task record</description>
        <name>CalculateDueDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Flow.CurrentDateTime} + 3 )</expression>
    </formulas>
    <interviewLabel>Deletion Request Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deletion Request Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create task record for the admin.</description>
        <name>CreateTaskRecord</name>
        <label>Create Task Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>UpdateMarkForDeletion</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>CalculateDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Review Record Deletion Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the current animal record based on the current record Id.</description>
        <name>GetCurrentAnimalRecord</name>
        <label>Get Current Animal Record`</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateTaskRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update</description>
        <name>UpdateMarkForDeletion</name>
        <label>Update Mark For Deletion</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MakForDeletion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <screens>
        <description>This is a confirmation screen.</description>
        <name>ConfirmationScreen</name>
        <label>ConfirmationScreen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>GetCurrentAnimalRecord</targetReference>
        </connector>
        <fields>
            <name>ConfirmationScreenDescription</name>
            <fieldText>&lt;p&gt;Are you sure you want to request a deletion for this record?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is an Error Screen</description>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorScreenDescription</name>
            <fieldText>&lt;p&gt;An Error has occurred during Task record creation.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is a success screen</description>
        <name>SuccessScreen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessScreenDescription</name>
            <fieldText>&lt;p&gt;Deletion request has been sent.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Get the current record Id.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
